{% extends 'base.html' %}

{% block content %}
<h1>Listado de Pedidos</h1>
<div class="container mt-4">
    <div class="mb-4 d-flex gap-2 flex-wrap">
       <a href="{{ url_for('bp_pedidos.create') }}" class="btn btn-primary">Nuevo Pedido</a>
        <a href="{{ url_for('bp_core.index') }}" class="btn btn-success">Volver</a>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="card-custom">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Producto</th>
                            <th>Cliente</th>
                            <th colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in pedidos %}
                        <tr>
                            <td>{{ item.fecha.strftime('%d/%m/%Y') }}</td>
                            <td>{{ "%.2f"|format(item.monto) }}</td>
                            <td>{{ item.producto.nombre }}</td>
                            <td>{{ item.cliente.nombre }}</td>
                            <td>
                                <a href="{{ url_for('bp_pedidos.edit', id=item.id) }}" class="btn btn-warning">Editar</a>
                            </td>
                            <td>
                                <a href="{{ url_for('bp_pedidos.delete', id=item.id) }}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6" class="text-center">No hay pedidos registrados.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}